# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

venv/